body {
    font-family: sans-serif;
}
header{background-color: rgb(53, 53, 161);}
header img{border-radius:30pxpadding:10px;  }
header b{color: azure; }
header a{color: azure; }

h1{font-family:'Times New Roman', Times, serif; color: azure;background-color: brown; }
h1{border-radius: 30px }
h1{text-align: center; }

footer p{background-color:rgb(43, 226, 125) }

p{background-color: blanchedalmond; }

